{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">

    {% block title %}<title>Document</title>{% endblock title %}

</head>

<body>
    <div class="container bg-light">
        <h2 class="text-center alert alert-info">Django CRUD Project</h2>
        <a href="{% url 'student_list' %}" class="btn  btn-md btn-block btn-success"><i>API Link</i></a>

        {% block body %}

        {% endblock body %}

    </div>
</body>

</html>